<button
  type="button"
  class="btn btn-primary"
  data-bs-toggle="modal"
  data-bs-target="#editBlogModal"
  aria-haspopup="dialog"
  aria-controls="editBlogModal"
  aria-expanded="false"
  aria-label="Edit blog post"
>
  <i class="bi bi-pencil-square" aria-hidden="true"></i>
</button>

<div
  class="modal fade"
  id="editBlogModal"
  tabindex="-1"
  role="dialog"
  aria-modal="true"
  aria-labelledby="editBlogModalLabel"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <form
        action="/blogs/update"
        method="POST"
        enctype="multipart/form-data"
        id="edit-blog-form"
        class="blog-form"
      >
        <input type="hidden" name="blogId" value="<%= blog._id %>" />

        <div class="modal-header">
          <h1 class="modal-title fs-5" id="editBlogModalLabel">Edit Blog</h1>
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
            aria-label="Close edit blog modal"
          ></button>
        </div>

        <div class="modal-body">
          <div class="mb-3">
            <label for="title" class="form-label">Blog Title</label>
            <input
              type="text"
              class="form-control"
              id="title"
              name="title"
              value="<%= blog.title %>"
              maxlength="70"
              required
              aria-describedby="titleHelp"
            />
            <div class="d-flex justify-content-end">
              <div id="titleCharCount" class="form-text"></div>
            </div>
          </div>

          <div class="mb-3">
            <label for="body" class="form-label">Blog Body</label>
            <textarea
              class="form-control"
              id="body"
              name="body"
              rows="6"
              maxlength="5000"
              required
              aria-describedby="bodyHelp"
            ><%= blog.body %></textarea>
            <div class="d-flex justify-content-end">
              <div id="bodyCharCount" class="form-text"></div>
            </div>
          </div>

          <div class="mb-3">
            <label for="image" class="form-label">Image (optional)</label>
            <input
              type="file"
              class="form-control"
              id="image"
              name="image"
              accept="image/*"
              aria-describedby="imageHelp"
            />
            <div
              id="image-error"
              class="invalid-feedback"
              role="alert"
              aria-live="assertive"
            >
          </div>
          </div>
            <div id="preview-card" class="card w-full shadow-sm mb-2 <%= blog.image.filename ? 'd-block' : 'd-none' %>">
              <img src="/uploads/<%= blog.image.filename %>" class="card-img-top" alt="Image Preview" />
              <div class="card-body p-2 text-center">
                <button type="button" id="remove-image" class="btn btn-danger btn-sm">
                  Remove
                </button>
              </div>
            </div>
          <div id="preview-new-card" class="card w-full shadow-sm mb-2 d-none">
            <img id="preview-new-image" class="card-img-top" alt="Image Preview" />
            <div class="card-body p-2 text-center">
              <button type="button" id="remove-new-image" class="btn btn-danger btn-sm">
                Remove
              </button>
            </div>
          </div>
          <input
              type="text"
              class="form-control"
              id="deletedImage"
              name="deletedImage"
              aria-describedby="deleted-image-identifier"
              hidden
            />

          <div>
            <label for="tags" class="form-label">Tags</label>
            <select
              class="form-select"
              id="tags"
              name="tags"
              multiple
              aria-label="Select up to five tags"
              aria-describedby="tagsHelp"
            >
              <% const selectedTagIds = blog.tags.map(tag => tag._id.toString()); %>
              <% allTags.forEach(tag => { %>
                <option
                  value="<%= tag._id %>"
                  <%= selectedTagIds.includes(tag._id.toString()) ? "selected" : "" %>
                >
                  <%= tag.label %>
                </option>
              <% }) %>
            </select>
          </div>
        </div>

        <div class="modal-footer">
          <button type="submit" class="btn btn-primary w-100">Update</button>
        </div>
      </form>
    </div>
  </div>
</div>

<script>
  const removeNewImage = () => {
    previewNewCard.classList.remove("d-block");
    previewNewCard.classList.add("d-none");
    previewNewImage.src = "";
    imageInput.value = "";
  }

  const editBlogModal = document.getElementById("editBlogModal");
  
  const MAX_FILE_SIZE_MB = 5; // Max size in MB
  const imageInput = document.getElementById("image");
  const imageError = document.getElementById("image-error");
  const previewNewImage = document.getElementById("preview-new-image");
  const removeBtn = document.getElementById("remove-image");
  const removeNewBtn = document.getElementById("remove-new-image");
  const previewCard = document.getElementById("preview-card");
  const previewNewCard = document.getElementById("preview-new-card");
  const deletedImage = document.getElementById("deletedImage")

  imageInput.addEventListener("change", () => {
    const file = imageInput.files[0];

    if (file) {
      const fileSizeMB = file.size / (1024 * 1024);

      if (fileSizeMB > MAX_FILE_SIZE_MB) {
        imageError.textContent = `File size must be less than ${MAX_FILE_SIZE_MB} MB`;
        imageInput.classList.add("is-invalid");
        imageInput.setAttribute("aria-invalid", "true");
        imageInput.value = "";
        
      } else {
        imageInput.classList.remove("is-invalid");
        imageInput.setAttribute("aria-invalid", "false");
        imageError.textContent = "";
      }
      // Preview new image
      const reader = new FileReader();
        reader.onload = (e) => {
          previewNewImage.src = e.target.result;
          previewCard.classList.add("d-none");
          previewCard.classList.remove("d-block");
          previewNewCard.classList.remove("d-none")
          previewNewCard.classList.add("d-block")
        };
        reader.readAsDataURL(file);
    }
  });

  removeBtn.addEventListener("click", () => {
    previewCard.classList.remove("d-block");
    previewCard.classList.add("d-none");
    imageInput.value = "";
    deletedImage.value = "true";
  });

  removeNewBtn.addEventListener("click", () => {
    removeNewImage()
  });

  let choicesInstance;

  editBlogModal.addEventListener("show.bs.modal", () => {
    const bodyCharCount = document.getElementById("bodyCharCount");
    const titleCharCount = document.getElementById("titleCharCount");
    
    const tagsSelect = editBlogModal.querySelector("#tags");

    if (choicesInstance) {
      choicesInstance.destroy();
    }

    choicesInstance = new Choices(tagsSelect, {
      removeItemButton: true,
      placeholderValue: "Select up to five tags",
      searchPlaceholderValue: "Search tags",
      closeDropdownOnSelect: false,
      maxItemCount: 5,
      maxItemText: (count) => `Maximum ${count} tags allowed.`,
    });

    deletedImage.value = "";
    if (previewCard) {
      previewCard.classList.add("d-block");
      previewCard.classList.remove("d-none");
    }
  });

  editBlogModal.addEventListener("hide.bs.modal", () => {
    const focusedEl = document.activeElement;
    if (editBlogModal.contains(focusedEl)) {
      focusedEl.blur();
    }
  });


  editBlogModal.addEventListener("hidden.bs.modal", () => {
    editBlogModal.querySelector("form").reset();
    if (choicesInstance) {
      choicesInstance.destroy();
      choicesInstance = null;
    }

    removeNewImage();
  });

  const bodyField = document.getElementById("body");
  bodyField.addEventListener("input", () => {
    const length = bodyField.value.length;
    bodyCharCount.textContent = `${length}/5000`;
  });

  const titleField = document.getElementById("title");
  titleField.addEventListener("input", () => {
    const length = titleField.value.length;
    titleCharCount.textContent = `${length}/70`;
  });
</script>
