<%- include("../partials/head.ejs") %>
<body>
  <%- include('../partials/nav.ejs') %>

  <main class="dashboard content">
    <h2>Admin Dashboard!</h2>

    <p>Pending Blogs</p>
    <%- include("./partials/blogsTable.ejs", {blogs: pendingBlogs}) %>
    <p>Approved Blogs</p>
    <%- include("./partials/blogsTable.ejs", {blogs: approvedBlogs}) %>
    <p>Rejected Blogs</p>
    <%- include("./partials/blogsTable.ejs", {blogs: rejectedBlogs}) %>
    <p>Grant Admin Access</p>
  </main>
  <%- include('../partials/footer.ejs') %>
</body>
